<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Electropunk.net Sketchook</title>

  <style>
    html,
    body {
      margin: 0;
      padding: 0;
    }

    canvas {
      display: block;
    }
  </style>

  <!-- <script src="https://www.electropunk.net/sketchbook/js/p5.min.js"></script> -->
  <!-- <script src="https://www.electropunk.net/sketchbook/js/p5.sound.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.1/p5.min.js" integrity="sha512-NxocnqsXP3zm0Xb42zqVMvjQIktKEpTIbCXXyhBPxqGZHqhcOXHs4pXI/GoZ8lE+2NJONRifuBpi9DxC58L0Lw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.1/addons/p5.sound.js" integrity="sha512-U2sgwrFhl+Tgx9iGH9h5Ba2WyIjyCes+D0prtIFw3a0V+/fkaeL5Cd/VjyPHno9kUPE1rnNhBGTyvtZsfJp0xg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
</head>

<body>
  <main>
   <script>
      function setup() {
        createCanvas(640, 480);
        background(25, 25, 25);
      }


      function draw() {
        
        circle(100, 100, 100);
        

        noLoop();
      }

    </script>

  </main>
</body>

</html>